@model Regasirea_Informatiei_Lab.ViewModels.EditDataViewModel
@{
    ViewBag.Title = "Edit Personal Information";


}

<html>

    <head>

    </head>
    <body style="background-color:#eee;">

        <h3>Edit User</h3>
<div class="container align-items-center">

    <div class="col-md-9 personal-info " >
       
        <h3>Editeaza profil</h3>
        
        <form class="form-horizontal " role="form" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label class="col-lg-3 control-label">Nume:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" asp-for="LastName" placeholder="Nume">
              <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Prenume:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" asp-for="FirstName" placeholder="Prenume">
              <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" asp-for="Email" placeholder="Email">
              <span asp-validation-for="Email" class="text-danger"></span>

            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Nr. telefon:</label>
            <div class="col-lg-8">
              <input class="form-control" type="number" asp-for="PhoneNumber" placeholder="Nr. telefon">
            </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label">Data nasterii:</label>

              <div class="col-md-8">
              <input asp-for="DateOfBirth" type="date" class="form-control" id="dateOfBirth">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
             </div>
          </div>

          <div class="form-group">

              <div class="col-md-8">
              <input asp-for="Photo" type="file" class=" custom-file-input"  id="inputGroupFile02">
            <label asp-for="Photo" class="input-group-text" for="inputGroupFile02">Poza de Profil</label>

               <span asp-validation-for="Photo" class="text-danger"></span>
             </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Adresa:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="Adresa" asp-for="Address">
               <span asp-validation-for="Address" class="text-danger"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Oras:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="Oras" asp-for="Country">
              <span asp-validation-for="Country" class="text-danger"></span>

            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Cod postal:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="Cod postal" asp-for="Postalcode">
              <span asp-validation-for="Postalcode" class="text-danger"></span>

            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-info">Update</button>
                
              <span></span>
              <a asp-action="PersonalData" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </form>
      </div>
  </div>
  <script>
  
  $('.datepicker').datepicker({
  inline: true
});
  
  </script>



    </body>
</html>

