@model IEnumerable<Category>







    <div class="dropdown-menu" style="margin-top:300px; color:black;">
        <h1>Test</h1>
        @foreach (var category in Model)
            {
        
                <li><a class="dropdown-item">@category.CategoryName</a></li>

        foreach (var subcategory in category.Subcategories)
        {
            <ul class="dropdown-menu dropdown-menu-dark" >
                    <li class="has-sub"><a  asp-controller="product" asp-action="ListProducts" asp-route-subcategory="@subcategory.Nume" style="text-decoration: none; color: black; margin-left: 10px; font-size: 16px;">@subcategory.Nume</a></li>

                </ul>
        }
            }

    </div>


